@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
$font: 'Roboto', sans-serif;

.result{
    font-family: $font;
    font-size: 25px;
    text-align: center;
    color: white;
    user-select: none;
}